.subscribe {
    background-image: linear-gradient(to right,
            #4cd964,
            #5ac8fa,
            #007aff,
            #34aadc,
            #5856d6,
            #ff2d55);
    background-size: 200%;
    animation: reekoAnimation 23s infinite alternate
}

@keyframes reekoAnimation {
    0% {
        background-position: 0%
    }

    100% {
        background-position: 100%
    }
}