@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: 'Outfit', sans-serif;
    @apply selection:bg-amethyst-500
  }

  body {
    @apply bg-russian-600 text-sylver-100
  }

  ::-webkit-scrollbar {
    @apply w-2
  }

  ::-webkit-scrollbar-track {
    @apply bg-bayoux-600/40
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded-full bg-gradient-to-b from-azure-300 to-amethyst-500
   
}

  .text-d-hero>span,
  .text-m-hero>span,
  .text-d-h4>span,
  .text-m-h4>span {
    @apply text-amethyst-400
  }
}

.subscribe {
  background-image: linear-gradient(to right,
          #4cd964,
          #5ac8fa,
          #007aff,
          #34aadc,
          #5856d6,
          #ff2d55);
  background-size: 200%;
  animation: reekoAnimation 23s infinite alternate
}

@keyframes reekoAnimation {
  0% {
      background-position: 0%
  }

  100% {
      background-position: 100%
  }
}